<section class="EditMenuPage">
  <h1 class="EditMenuPage-title">Editing Menu</h1>

  <%= render "form", menu: @menu %>

  <p class="EditMenuPage-link"><%= link_to "Show", @menu %> | <%= link_to "Back", menus_path %></p>
</section>
