<section class="EditOrderPage">
  <h1 class="EditOrderPage-title">Updating Order Status</h1>

  <%= render "form", order: @order %>

  <p class="EditOrderPage-link">
    <%= link_to "Back", orders_path %>
  </p>
</section>
