.LoginPage {
  max-width: 1000px;
  margin: 200px auto;
  font-family: sans-serif;
  align-items: center;
  color: rgb(230, 223, 223);
}

.LoginPage-title {
  font-size: 32px;
  color: rgb(216, 98, 1);
  text-align: center;
}

.LoginPage-form {
  background-image: linear-gradient(rgb(211, 208, 205),rgb(223, 220, 217));
  display: flex;
  margin: 50px auto;
  max-width: 800px;
  border: 1px solid transparent;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.LoginForm {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.LoginForm-field {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.LoginForm-fieldTitle {
  padding-top: 5px;
  font-size: 20px;
  color: rgb(104, 102, 101);
  font-weight: 1000;
}

.LoginForm-emailInput {
  margin-left: 80px;
  margin-top: 17px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.LoginForm-passwordInput {
  margin-left: 40px;
  margin-top: 17px;
  height: 25px;
  border: 1px solid rgb(151, 150, 149);
  border-radius: 4px;
  background-color: white;
}

.LoginForm-submitButton {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 50px;
  border: 1px solid rgb(216, 98, 1);
  border-radius: 10px;
  background-image: linear-gradient(rgb(216, 98, 1),rgb(212, 129, 46));
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.LoginPage-newUserLink {
  margin-top: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}
